<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>

<style>
        .error{
            color: red;
        }

        .success{
            color: green;
        }
</style>

</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Edit Show {{show_id}}</h1>
    <form action="/shows/{{show_id}}/edit" method="POST">
        {% csrf_token %}
        Title:
        <input type="text" name="title">
        <br>
        Network:
        <input type="text" name="network">
        <br>
        Release Date:
        <input type="datetime" name="release_date">
        <br>
        Description:
        <input type="datetime" name="description">
        <br><br>
        <input type="submit" value="Update">
    </form>

    <h1>Current Show Information</h1>

    <h3>Title : {{this_show.title}}</h3>
    <h3>Network : {{this_show.network}}</h3>
    <h3>Release Date : {{this_show.release_date}}</h3>
    <h3>Description : {{this_show.description}}</h3>

    <br><br>
    <a href="/shows">Go Home</a>
   
    
</body>
</html>